<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tr">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ind"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ind"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fragment1"></activity>
        <activity android:name=".Wisata4" />
        <activity android:name=".Wisata3" />
        <activity android:name=".Wisata2" />
        <activity android:name=".Wisata1" />
        <activity android:name=".MainActivity" />
        <activity android:name=".list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>